{% extends 'base.html' %}

{% block content %}
<h2>Pages</h2>

<form method="get">
  <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Buscar...">
  <button type="submit">Buscar</button>
</form>

{% for page in object_list %}
  <h3>
    <a href="{% url 'pages:page_detail' page.pk %}">{{ page.title }}</a>
  </h3>
{% empty %}
  <p>No hay páginas aún.</p>
{% endfor %}

{% if request.user.is_authenticated %}
  <p><a href="{% url 'pages:page_create' %}">Crear nueva page</a></p>
{% endif %}
{% endblock %}